<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapMan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        <h1>RapMan</h1>
        <p class="sub-title">ー タスクメモアプリ ー</p>

        <a href="{{ url_for('create_memo') }}" class="button">
            <i class="fas fa-plus"></i>
        </a>
        
        <div class="memos">
            <h2 class="title-border">ToDo</h2>

            {% if not memos %}
                <p>ToDoはありません</p>
            {% endif %}
 
            <ul>
                {% for memo in memos %}
                <li class="card {{ memo.priority }}">
                    <a href="{{ url_for('view_memo', memo_id=memo.id) }}">{{ memo.title }}</a>
                    <p class="priority-label">
                        重要度 
                        {% if memo.priority == "high" %}
                            ★★★
                        {% elif memo.priority == "medium" %}
                            ★★
                        {% elif memo.priority == "low" %}
                            ★
                        {% else %}
                            なし
                        {% endif %}
                    </p>

                    <p class="due-date">
                        {% if memo.due_date %}
                            締切日: {{ memo.due_date.strftime('%Y年 %m月 %d日') }}
                        {% else %}
                            締切日: なし
                        {% endif %}
                    </p>
                    
                    <p class="small">作成日: {{ memo.created_at.strftime('%Y年 %m月 %d日 %H:%M') }}</p>
                    <div class="button-container">
                        <form method="POST" action="{{ url_for('delete_memo', memo_id=memo.id) }}">
                            <button type="submit" class="delete-button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
